<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <ul>
    <li><%= form.label :title %>
    <%= form.text_field :title %></li>
  </div>
  <div class="blog_title">
    <li><%= form.label :content %>
    <%= form.text_field :content %></li>
  </div>
  <div class="field">
  <li><%= form.label :image %>
  <%= form.file_field :image, id: :blog_image %>
  <%= form.hidden_field :image_cache %></li>
  </ul>
</div>

  <%= form.submit %>
<% end %>

<%= link_to "一覧画面にもどる", blogs_path %>