<div class="container">
    <h1>POSTS</h1>
    <p><%= notice %></p>

    <article>
      <div class="container">
      <% @blogs.each do |blog| %>
          <ul class="row col-lg-6">
          <li class="aaa ">
            <%= blog.title %>
            <%= blog.content %>
            <%= image_tag blog.image %>
      
             <%= blog.user.name %>'s posts
          </li>
    
          
          <li class="col-lg-4 col-xs-12 "><%= link_to "details", blog_path(blog.id), class: 'btn btn-info'%></li>
          <% if blog.user_id == current_user.id %>
          <li class="col-lg-4 col-xs-12 "><%= link_to "edit", edit_blog_path(blog.id), class: 'btn btn-info'%></li>
          <li class="col-lg-4 col-xs-12 "><%= link_to "delete", blog_path(blog.id), method: :delete , data: { confirm: '本当に削除していいですか？' },class: 'btn btn-info'%></li>
          
          
          <% end %>
          </ul>
      <% end %>
      </div>

    </article>

   
      <%= link_to image_tag("images.png"), new_blog_path %>
</div>