

<h3>  title: <%= @blog.title %>
  content: <%= @blog.content %>
<p id="notice"><%= notice %></p>
  </h3>

<div class=post>Image:
  <%= image_tag @blog.image %>
</div>
  
  <h2><% if @favorite.present? %>
    <%= link_to '🖤', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to '♡', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
  </h2>
  
  <h5><%= link_to 'Edit', edit_blog_path(@blog) %></h5>
  <h5><%= link_to 'Back', blogs_path %></h5>