<div class="container">
    
    <h3><%= link_to "みんなのPOSTS", blogs_path %></h3>

  <li class="a">
            <%= image_tag(@user.image.url) %>
            <span><<%= @user.name %>'s posts </span>
            mail:<%= @user.email %>
  </li>
          



<div class=like>
    <p><%=image_tag("like.gif") %>LIKE IT
    </p>
</div>

<% @favorites_blogs.each do |favorite| %>
<li class="post"><%= favorite.title %>
    <%= favorite.content %>
    <%= image_tag favorite.image %>
</li>

<% end %>

</div>


